

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wdth,wght@0,200,500;1,200,500&display=swap');
@font-face {
    font-family: 'Fira Sans Four';
    src: url('../polices/FiraSans-Four.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{ box-sizing: border-box;}

html{
    overflow-x: hidden;
    background: url(../images/galerie_bg.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}
body{
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    margin: 0;  
    padding: 0;
    z-index: 1;
}
main{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#navbar{
    width: 100%;
    height: 15vh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    z-index: 2;
}
#logo{
    width: 25%;  
    display: flex;
    background: linear-gradient(90deg, #ff68cc, #dc5fff, #a080ff, #7f99ff);
    background-clip: text;
    transform: scale(1);
    transition: transform 0.3s;
}
#cities{
    width: 75%;
    font-size: 1.02rem;
   
    
    font-family: bahnschrift;
    font-weight: 100;
}
#logo h1{
    margin-left: 2.5vw;
    font-size: 1.4rem;
    font-family: bahnschrift;
    font-weight: 200;
    color: transparent;
    letter-spacing: 0.7vw;
    text-shadow: 1px 1px 4px #727272;  
}
#logo:hover{
    transform: scale(1.025);
    cursor: pointer;
    transition: transform 0.3s;
}

#nav_list{ 
    display: flex;
    align-items: center;
    justify-content: right;
    list-style-type: none;
}
#nav_list li{
    margin: 0 50px 0 0;
}

#nav_list li:hover{}
#nav_list li a{ 
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
  
}
section{
    z-index: 1;
    position: relative;
}
.pad{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 50px 15px 30px 15px;
    z-index: 1;
}
.pad > div{
    width: 100%;
}

.sections{

    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    padding: 0;
    width: 95vw;
    height: 100%;
    box-shadow: 0px 3px 20px black;
}

#section_2{
    background: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}







.descriptions{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 0;
}

.sections nav{
    position: absolute;
    z-index: 90;
}
.sections nav #cities{
    width: 100%;
    padding-left:0px;
    font-size:1rem;
    font-family: bahnschrift;
    font-weight: 800;
}
ul{
    list-style: none;
}
.grid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5vh;
    padding: 0;
    margin-top: 15vh;
}
.grid li{ 
    display: flex;
    max-height: max-content;
    margin: 0 1vw;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    max-width: max-content;
}
figcaption{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 25vw;
    font-size: 0.85rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.7);
}
.grid__figure img{
    max-height: 27.5vh;
    transition: 0.5s;
}
.grid__figure img:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
    transition: 0.5s;
}
input[type="checkbox"]{
    display: none;
}
.background{
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}
footer{
    position: relative;
    top: 5vh;
    left: 0;
    width: 100%;
    height: 20vh;
    background: radial-gradient( rgb(43, 42, 42) 20%, rgb(23, 22, 22) );
    margin: auto;
}
footer p{
    width: 100%;
    position: relative;
    top: 50%;
    margin: auto;
    text-align: center;
    font-size: small;
    font-family: 'Fira Sans Four';
    color: rgba(248, 248, 248, 0.7);
}


#wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.labels{
    display: flex;
    align-items: center;
}
#wrapper .labels .drpdwn_btn{
    margin: 4px 0 0 4px;
    cursor: pointer;
}

#dropdown{
    display: none;
    position: absolute;
    top: 12vh;
    background-color: rgba(97, 96, 98, 0.3); 
}
#dropdown a{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 4vh;
    border-bottom: 1px solid rgba(97, 96, 98, 0.5);
    font-size: 0.9rem;
    font-family: 'M PLUS Code Latin';
    font-weight: 300;
    font-style: italic;
    transition: 0.5s;
}
#dropdown a:hover{
    background-color: rgba(100, 100, 100, 0.2);
    font-weight: 500;
    transition: background-color 0.5s;
}
#drpdwn_btn:checked ~ .labels .drpdwn_btn span{
    transform: rotate(180deg);
    transition: 0.5s;
}
#drpdwn_btn:checked ~ #dropdown{
    display: flex;
    flex-direction: column;
   
}
.drpdwn_label{
    color: rgba(0, 0, 0, 0.7);
}
.drpdwn_label:hover{
    cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  transition: 0.5s;
}
#drpdwn_btn{ display: none;}
